<h1 class="text-center mb-3">{{title}}</h1>

{{!-- <form action="/api/products" method="POST" class="mb-4">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="x">X-Koordinate</label>
        <input type="number" name="x" class="form-control">
    </div>
    <div class="form-group">
        <label for="x">Y-Koordinate</label>
        <input type="number" name="y" class="form-control">
    </div>
    <input type="submit" value="Add Product" class="btn btn-primary btn-block">
</form> --}}

<h4>Welche Produkte sollen auf den Einkaufszettel?</h4>
{{!-- <ul>
    {{#each products}}
    <li class="list-group-item">{{this.name}}: {{this.x}}, {{this.y}}</li>
    {{/each}}
</ul> --}}

<div class="dropdownMenus col-md-12 mb-3">
  <div class='form-field'>
    <label for='product'></label>
    <select id='product' class='form-control mb-3'>
      <option>Wähle deine Produkte</option>
      {{#each products}}
      <option id="chosen_product">{{this.name}}</option>
      {{/each}}
    </select>
    <button onclick="addToList()" type="button" class="btn btn-primary" name="add" value="Add">Hinzufügen</button>
  </div>
  </div>

<h4>Deine Einkaufsliste</h4>
  <div class="col-md-12 mb-3">
    <ul id ="list">

    </ul>
        <button id="add-button" type="button" class="btn btn-primary" name="add" value="Add">Kürzeste Shopping-Route finden</button>
  </div>

<script>
  var shoppinglist = [];
  
  function addToList() {
    var e = document.getElementById("product");
	  var result = e.options[e.selectedIndex].value; 
	  shoppinglist.push(result);
    console.log(shoppinglist);
    document.getElementById("list").innerHTML = shoppinglist;
  } 
</script>

  {{!--
  //Funktion für Button (Hinzufügen)
  //Namen der ausgewählten Produkte in einem Array abspeichern (ohne Datei) Name + id
  //Array ausgeben als Shopping list
  //Wenn was hinzugefügt werden soll, muss Liste upgedated werden
  //Array ans Backend senden (mit zweitem Button -> Shopping-Route ) --}}